<% if logged_in?%>
    <div class="nav">
        <img src="https://i.imgur.com/1eT9WvY.png" alt="" id="logo">
        <ul id="item">
        <li><a href="/">Home</a></li>
        
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete"> 
            <button>Logout</button>
            </form>
        </ul>
    </div>

    <div class="back_login">
        <div></div>
    </div>

    <div class="mid mid_login">
        <img src="https://durfeelawgroup.com/wp-content/uploads/2014/09/webview.gif" alt="" class="admin_page">
        <h1 class="main">Aye, aye, captain! </h1>
        <p>Welcome to your control panel, <%= current_user['first_name'] %>! Here is where you manage all your client's enquiries</p>
    </div>

    <div class="details">
        <div class="one">
        <h3>Administrator mode</h3>
        <h6>As an administrator, you can respond to client enquiries, and track & modify status of quotation phases. </h6>
        <a href="/work_orders/new">Create Enquiry</a>
        </div>

        <div class="two">
        
        </div>
    </div>

    <h1>Tasks</h1>

    <div class="enquiries">
    
        <div class="one">
            <h3>Directory of enquiries</h3>
            <ul class="work_order_dir">
            <% all_work_orders.each do |work_order| %>
                <li><a href="#<%= work_order['name'] %>" class="work_orders_list">
                
                <% all_users.each do |user| %>
                    <% if user['id'] == work_order['client_id'] %>
                         <%= user['first_name'] %> <%= user['last_name'] %>:
                    <% end %>
                <% end %>

                <%= work_order['name'] %></a></li>
            <% end %>
            </ul>
        </div>

        <div class="two">
            <% if all_work_orders.to_a.length > 0 %>
                <% all_work_orders.each do |work_order| %>
                    <div id="<% work_order['name'].to_s %>" class="work_order_preview">

                        <h2><%= work_order['name'] %></h2>

                        <section class="controls">
                            <a href="/work_orders/<%= work_order['id'] %>/edit">Edit Enquiry</a>
                            <form action="/work_orders/<%= work_order['id'] %>" method="POST">
                                <input type="hidden" name="_method" value="delete">
                                <button>Delete</button>
                            </form>
                        </section>

                        <p><%= work_order['job_status'] %></p>

                        <% all_users.each do |user| %>
                            <% if user['id'] == work_order['client_id'] %>
                                <p>Client: <%= user['first_name'] %> <%= user['last_name'] %></p>
                            <% end %>
                        <% end %>

                        <div class="work_order_detail">
                            <p><%= work_order['description'] %></p>
                            <img src="<%= work_order['image_url'] %>" alt="" class="attachments">
                        </div>
                        <hr>
                    </div>
                <% end %>
            <% else %>
                <p>No current enquiries. Create one to preview.</p>
            <% end %>
        </div>
    </div>
<% else %>
  <% redirect '/' %>
<% end %>