<header>
  <img src="https://i.imgur.com/LnVAmI0.png" alt="" class="logo">
  <h1 class="main">IN LIGHT Home Maintenance</h1>
</header>

<% if logged_in?%>
  <h2>Welcome, <%= current_user['first_name'] %>!</h2>

  <section class="controls">
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete"> 
      <button>Logout</button>
    </form>

    <a href="/work_orders/new">Add work_order item</a>
  </section>

  <section class="work_orders">
    <% client_work_orders.each do |work_order| %>
      <section class="work_order">
        <header>
          <h2><%= work_order['name'] %></h2>
          
          <p><%= work_order['description'] %></p>

          <section class="controls">
            <a href="/work_orders/<%= work_order['id'] %>/edit">Edit</a>

            <form action="/work_orders/<%= work_order['id'] %>" method="POST">
              <input type="hidden" name="_method" value="delete">
              <button>Delete</button>
            </form>
          </section>
        </header>

        <img src="<%= work_order['image_url'] %>" alt="">
      </section>
    <% end %>
  </section>
<% else %>
<nav>
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Sign up</a>
</nav>
<section class="about_us">
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt enim quasi harum, atque officia architecto quo ipsam adipisci et corrupti vitae cum repellat maxime fuga perferendis. Maiores eligendi tempore et.</p>

</section>
  
  
<% end %>