<% if logged_in?%>
  <div class="nav">
  <img src="https://i.imgur.com/1eT9WvY.png" alt="" id="logo">
  <ul id="item">
    <li><a href="/">Home</a></li>
    
    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete"> 
        <button>Logout</button>
      </form>
  </ul>
  </div>

  <div class="back_login">
    <div></div>
  </div>

  <div class="mid mid_login">
    <h1 class="main">Welcome to your profile, <%= current_user['first_name'] %>!</h1>
    <p>What goals do you want to achieve?</p>
  </div>

  <div class="details">
    <div class="one">
      <h3>Enquiries</h3>
      <h6>Submit a live enquiry that tracks every stage of the job for you. Beginning from the moment you click submit, until the moment the job is fixed.</h6>
      <a href="/work_orders/new">Submit an Enquiry</a>
    </div>

    <div class="two">
      <h3>Contact hours</h3>
      <h5>Sunday: Closed</h5>
      <h5>Monday - Friday</h5>
      <p>9:00am - 6:00pm</p>
    </div>
  </div>

  <section class="work_orders">
    <% client_work_orders.each do |work_order| %>
      <section class="work_order">
        <header>
          <h2><%= work_order['name'] %></h2>
          
          <p><%= work_order['description'] %></p>

          <section class="controls">
            <a href="/work_orders/<%= work_order['id'] %>/edit">Edit</a>

            <form action="/work_orders/<%= work_order['id'] %>" method="POST">
              <input type="hidden" name="_method" value="delete">
              <button>Delete</button>
            </form>
          </section>
        </header>

        <img src="<%= work_order['image_url'] %>" alt="" class="attachments">
      </section>
    <% end %>
  </section> 
<% else %>
  <% redirect '/' %>
<% end %>